body{
    margin-left: 20px;
}

.chat{
    background-color:rgb(166, 226, 230);
    padding: 20px;
    border-radius: 20px;
   display: inline-block;
   padding: 5px 15px;
   border-radius: 15px;
}
.msg{
    background-color: rgb(41, 137, 201);
    color: azure;
}